/* Hide the calendar container */
.react-calendar {
	display: none;
}

/* Hide the calendar button and preview area */
.rdrCalendarWrapper {
	display: none;
}

/* Hide the preview calendar popup */
.rdrMonths {
	display: none;
}

/* Hide the date input field */
.rdrDateDisplayWrapper {
	display: none;
}

.transparent-input {
	background-color: transparent;
	border: none;
	color: white;
	width: 100%;
}

.date-picker-container {
	display: flex;
	align-items: center;
}

.date-input {
	margin-right: 10px;
}
